@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Saira";
  src: url("fonts/Saira-VariableFont_wdth,wght.ttf") format("truetype");
}

/* Make the font-size scale with the window size */
html {
  font-size: clamp(10px, 1.6vw, 16px);
}

:root {
  --color-accent-1: gold;
  --color-bg-1: honeydew;
  --color-bg-2: thistle;
  /* 1rem = the font size of the html element */
  --card-width: 11rem;
  --card-height: 16rem;
}

/* Fit page to window, letting the main element expand to push the footer down */
body {
  display: flex;
  width: 100vw;
  margin: 0;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-bg-1);
  color: black;

  main {
    flex: 1;
  }
}

/* Colour and center header and footer */
header, footer {
  font-size: 1.3rem;
  text-align: center;
  background-color: var(--color-bg-2);

  h1 {
    display: inline-block;
    margin: 0.8rem;
    font-size: 3rem;
  }

  h3 {
    font-weight: 500;
    font-size: 1.3Srem;
  }

  .logo {
    height: 2.4rem;
  }
}

/* Position cards into a grid with a variable number of fixed-width columns */
.container {
  padding: 2rem;
  margin: 0 auto;
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
  gap: 1rem;
}

.card {
  width: var(--card-width);
  height: var(--card-height);
  text-align: center;

  .side {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    box-shadow: 0.5rem 0.5rem 1rem rgb(0 0 0 / 16%);
    background-color: white;
  }
}

/* Style front of cards */
.card .front {
  img {
    width: 90%;
    height: 70%;
    object-fit: contain;
    object-position: bottom;
  }

  h2 {
    margin-top: 0;
    padding: 0.6rem;
    font-size: 1.2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

/* Cards start out white and change color on hover */
.card .front {
  background-color: white;
  transition: background-color 0.8s;
}

.card .front:hover {
  background-color: var(--color-accent-1);
}

/* Hide back of cards for now (see flip_extension.css for how to use these) */
.card .back {
  display: none;
}